<%= form_with(model: problem_entry) do |form| %>
  <% if problem_entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(problem_entry.errors.count, "error") %> prohibited this problem_entry from being saved:</h2>

      <ul>
        <% problem_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :creator_id, style: "display: block" %>
    <%= form.number_field :creator_id %>
  </div>

  <div>
    <%= form.label :website_url, style: "display: block" %>
    <%= form.text_field :website_url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
