<div id="<%= dom_id problem_entry %>">
  <p>
    <strong>Title:</strong>
    <%= problem_entry.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= problem_entry.description %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= problem_entry.creator_id %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= problem_entry.website_url %>
  </p>

</div>
