<!DOCTYPE html>
<html>
  <head>
    <title>Bandtogether</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="grid_container">
      <div id="menu">
        Menu div
      </div>
      <div id="recent_news">
        Recent news div
      </div>
      <div id="page_content">
        Page content div
        <%= yield %>
      </div>
    </div>
  </body>
</html>
