<!DOCTYPE html>
<html>
  <head>
    <title>Bandtogether</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="menu" class="sout">
      <div class="mitem">
        About
      </div>
      <div class="mitem">
        <%= link_to 'Recent Problems', problem_entries_path %>
      </div>
      <div class="mitem">
        Recent ⯆
      </div>
      <div class="mitem">
        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, data: {:turbo_method => 'delete'} %>
        <% else %>
          <%= link_to 'Log in', user_session_path %>
        <% end %>
      </div>
      <div class="mitem">
        Search
      </div>
      <div class="mitem">
        Popular ⯆
      </div>
    </div>
    <div id="body_page">
      <div id="body_container_flex" class="sout">
        <div class="data_divider_vert">
          &nbsp;
        </div>
        <div id="recent_news" class="sout">
          Recent news div
        </div>
        <div class="data_divider_vert">
          &nbsp;
        </div>
        <div id="logo">
          &nbsp;
        </div>
        <div class="data_divider_vert">
          &nbsp;
        </div>
        <div id="page_content_container" class="sout">
          <div id="page_content" class="sout">
            <%= yield %>
          </div>
        </div>
      </div>
    </div> <!-- end body page -->
    <div class="data_divider_horz">
      &nbsp;
    </div>

    <div class="dropdown">
      <span>Mouse over me</span>
      <div class="dropdown-content">
        <p>Hello World!</p>
      </div>
    </div>

    <footer id="tree_branch">
      &nbsp;
    </footer>
  </body>
  <script type="text/javascript">
    /*var windowHeight = window.innerHeight;
    var windowWidth = window.innerWidth;
    document.getElementById('tree_branch').style.position = "absolute";
    document.getElementById('tree_branch').style.top = (windowHeight) + "px";
    document.getElementById('tree_branch').style.left = (windowWidth) + "px";
    */
  </script>

</html>
