<!DOCTYPE html>
<html>
  <head>
    <title>Bandtogether</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="menu" class="sout">
      Menu div
    </div>
    <div id="body_container" class="sout">
      <div id="recent_news" class="sout">
        Recent news div
      </div>
      <div id="logo">
        &nbsp;
      </div>
      <div id="page_content" class="sout">
        Page content div
        <%= yield %>
      </div>
      <div class="clear">
      </div>
    </div>
    <div id="tree_branch">
      &nbsp;
    </div>
  </body>
  <script type="text/javascript">
        var windowHeight = window.innerHeight;
        var windowWidth = window.innerWidth;
        document.getElementById('tree_branch').style.height = (windowHeight - 690) + "px";
        document.getElementById('tree_branch').style.width = (windowWidth - 690) + "px";
  </script>

</html>
